body {
    margin: 0px;
    background-color: #2b2c30;
    color: #09ff00;
    overflow-x: hidden;
    cursor: default;
}

#Header {
    margin-top: 2vw;
}

.headerOption {
    font: bold 2vw arial;
    display: inline;
    margin-left: 10vw;
    cursor: pointer;
    transition: color 0.5s ease, font 0.5s ease;
}

.headerOption:hover {
    font: bold 2.3vw arial;
    transition: color 0.5s ease, font 0.5s ease;
}

#WelcomeMessage {
    font: 3vw arial;
    width: auto;
    height: 40vw;
    margin-top: 15vw;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
}

#DemosBox {
    margin: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
}

#DemoHeader {
    margin: 0;
    color: rgb(212, 212, 212);
    font-size: 4vw;
}

.demoButton {
    margin-top: 5vw;
    margin-right: 2vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    border: none;
    border-radius: 5vw;
    width: 25vw;
    height: 10vw;
    font-size: 2vw;
    background-color: rgb(104, 255, 0, 0.39);
    cursor: pointer;
}

#MoreFiller {
    cursor: default;
}