.diagonal-section-left {
    position: absolute;
    clip-path: polygon(0 0, 85vw 0, 60vw 100%, 0 100%);
    background-color: rgb(104, 255, 0, 0.39);
}

.projectImageLeft {
    width: 33vw;
    height: auto;
    padding: 3vw;
}

.projectTextRight {
    position: relative;
    z-index: 1;
    margin-left: 50vw;
}

.projectHeaderRight {
    margin: 0;
    color: rgb(212, 212, 212);
    font-size: 4vw;
}

.projectDescriptionRight {
    margin: 0;
    color: rgb(212, 212, 212);
    font-size: 2vw;
    width: 40vw;
}
