#ProjectsBox {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 20vw;
}

.projectContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.displayBox {
    width: 100vw;
    height: auto;
}

a.projectContainer {
    text-decoration: none;
}

.projectImage {
    transition: width 0.5s ease;
}

.projectImage:hover {
    width: 40vw;
    transition: width 0.5s ease;
}