body {
    margin: 0px;
    background-color: #2b2c30;
    color: #09ff00;
    overflow-x: hidden;
}

#WelcomeMessage {
    font: 3vw arial;
    width: auto;
    height: 40vw;
    padding-top: 20vw;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}